
<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>

{{ ngCart.getCart() | json:4 }}
<br><br><br>
<div ng-if="service=='paypal'">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input readonly name="cmd" value="_xclick" /><br>
        <input readonly name="business" value="{{ settings.paypal.business }}" />business<br>
        <input readonly name="lc" value="CA" />ca<br>
        <input readonly name="item_name" value="{{ ngCart.getItemById() }}" />item name<br>
        <input readonly name="item_number" value="{{ settings.url }}" />item number<br>
        <input readonly name="amount" value="{{ ngCart.getSubTotal()}}" />subtotal<br>
        <input readonly name="currency_code" value="{{ settings.paypal.currency_code }}" />currency<br>
        <input readonly name="button_subtype" value="services" />services<br>
        <input readonly name="no_note" value="{{ settings.paypal.no_note }}" />no_note<br>
        <input readonly name="tax_rate" value="{{ ngCart.getTaxRate()}}" />tax rate<br>
        <input readonly name="shipping" value="{{ ngCart.getShipping()}}" />shipping<br>
        <input readonly name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" /><br><br><br>
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>

</div>
