<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>

<!--{{ ngCart.getCart() | json:4 }}-->
<br><br><br>
<div ng-if="service=='paypal'">
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_xclick" />
        <input type="hidden" name="business" value="t.cardoso-facilitator@yahoo.com.br" />
        <input type="hidden" name="lc" value="BR"/>
        <!-- CRIAR LOOP PARA LISTAR VARIOS ITEMS -->
        <input type="hidden" name="item_name" value="{{ ngCart.getCart().items[0]._name }}" />
        <input type="hidden" name="item_number" value="numeroDeRegistroDeCompra" />
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal() }}" />
        <input type="hidden" name="currency_code" value="BRL" />
        <input type="hidden" name="button_subtype" value="services" />
        <input type="hidden" name="no_note" value="1" />
<input type="hidden" name="landing_page" value="billing">
<input type="hidden" name="solution_type" value="sole">
      <!--  <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}" />tax rate<br>
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}" />shipping<br>-->
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" />
        <input type="image" src="https://www.paypal-brasil.com.br/logocenter/util/img/btPagarAgora_1.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>

</div>
