<div class="ui container vertical masthead segment">
  <div>
    <div>
      <div>
        <h1>2Burn</h1>
        ProdutodeTeste
        <ngcart-addtocart id="susasdnxosdXSSAD" name="ProdutodeTeste" price="9" quantity="1" quantity-max="10" data="item"></ngcart-addtocart>
        <br>Produtode Teste 2
                <ngcart-addtocart id="dnxosdXSSAD" name="Produtode Teste 2" price="5" quantity="1" quantity-max="10" data="item"></ngcart-addtocart>
        <br>Produto de Teste 3
                <ngcart-addtocart id="susasdXSSAD" name="Produto de Teste 3" price="11" quantity="1" quantity-max="10" data="item"></ngcart-addtocart>
      </div>      
    </div>
  </div>
</div>


<div class="ui inverted vertical segment footer">
    <div class="ui center aligned container">
        <p>Desenvolvido por Tony Tals e Thiago Moskito</p>
    </div>
</div>
