<div class="ui container">
<div class="ui secondary menu">
  <a class="active item" ui-sref="home">
    Home
  </a>
  <a class="item" ui-sref="addProduct">
     Adicionar Produto
  </a>
  <a class="item">
    Pessoas
  </a>
  <div class="right menu">
    <div class="item">
        <ngcart-summary></ngcart-summary>
    </div>
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui item">
      <login-buttons></login-buttons>
    </div>
  </div>
</div>
</div>
